
.banner-wrapper
  <video id="bgvid" muted="muted" autoplay="true"  preload="auto" loop="loop">
  <source src="/images/Crema-Culture.mp4" type="video/mp4">
  </video>

  .banner-mask
    include ./video-mask-svg.jade
.banner-logo
  include ./banner-logo-svg.jade



.banner-subtext 
  p <span> We are your creative firm that builds web, mobile and connected products. </span> We create business solutions driven by technology and design.  Our lean and agile approach works for you; the enterprises innovation team or startup venture.  Curiousity drives our team to explore the possibility of how creative solutions can solve problems and better lives. 
