
.gradient-header
.banner-wrapper
  .video-bg
  <video id="bgvid" muted="muted" autoplay preload="auto" loop="loop" poster="data:image/gif,AAAA" style="background:transparent no-repeat url('/images/home/homepage/home-page-vid-poster.jpg');background-size:100%">
  <source src="/images/Crema-Culture.mp4" type="video/mp4">
  </video>

  .banner-mask
    include ./video-mask-svg.jade
    
  .grid
    .row
      .col 
        .banner-logo
          img(src="/images/home/homepage/crema-logo-pink.svg")
          //- include ./banner-logo-svg.jade
      .col.text
        h1 Strategy
        h1 Design
        h1 Development
    .sub-logo 
      h1 We are a technology and innovation agency.

.banner-subtext#trigger-video-off 
  p We partner with funded startups and existing brands to create technology solutions and new digital ventures.  Our iterative approach and small focused teams, work with our clients to validate their ideas and launch them to market. We offer full transparency as we work collaboratively to solve problems and better lives.
