<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width height="auto" viewBox="0 0 910 291" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!-- Generator: sketchtool 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
<title>FAC4A695-8175-4CFB-AD1C-7720FD227F9E</title>
<desc>Created with sketchtool.</desc>
<defs>
<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
<feGaussianBlur stdDeviation="18" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.325152853 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
<feMerge>
<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
<feMergeNode in="SourceGraphic"></feMergeNode>
</feMerge>
</filter>
<path d="M157.238264,211.653596 C143.816987,217.919244 128.425614,220.926755 110.941015,220.926755 C95.0571179,220.926755 80.4045311,218.295183 66.8601231,212.906726 C53.4388461,207.518268 41.7414028,199.999491 31.7677933,190.225079 C21.9173147,180.450668 14.1600629,168.796562 8.49603774,155.137449 C2.83201258,141.478336 -1.42108547e-14,126.566094 -1.42108547e-14,110.150095 C-1.42108547e-14,93.3581582 2.83201258,78.1952895 8.61916872,64.5361764 C14.2831939,50.8770634 22.2867077,39.3482707 32.3834482,29.6991725 C42.4801887,20.1753872 54.3007629,12.7819223 67.8451709,7.6440908 C81.3895789,2.50625928 96.0421657,0 111.802931,0 C126.332387,0 140.615581,2.63157224 154.652513,7.89471673 C168.689445,13.1578612 180.140626,20.801952 188.882926,30.8269891 L155.145037,65.1627413 C150.46606,58.6464671 144.432642,53.7592615 136.798521,50.6264374 C129.287531,47.4936133 121.530279,45.8645448 113.526765,45.8645448 C104.784465,45.8645448 96.7809516,47.4936133 89.5162237,50.7517504 C82.2514958,54.0098875 75.9718157,58.5211542 70.8003145,64.1602376 C65.5056823,69.9246339 61.4423599,76.691534 58.6103473,84.4609377 C55.6552037,92.2303415 54.3007629,100.751623 54.3007629,110.024782 C54.3007629,119.548568 55.7783347,128.195162 58.6103473,136.089879 C61.5654909,143.984596 65.5056823,150.751496 70.6771835,156.390579 C75.8486847,162.029662 82.0052338,166.415616 89.1468308,169.54844 C96.2884277,172.681264 104.168811,174.310333 112.664848,174.310333 C122.515327,174.310333 131.134496,172.305325 138.522354,168.420624 C145.910213,164.535922 151.8205,159.39809 156.253216,153.007129 L190.853022,186.215064 C181.86446,197.117292 170.659541,205.513261 157.238264,211.653596 L157.238264,211.653596 Z" id="path-2"></path>
<linearGradient x1="10.687859%" y1="80.3698297%" x2="78.8368418%" y2="8.30573479%" id="linearGradient-4">
<stop stop-color="#F254CE" offset="0%"></stop>
<stop stop-color="#F54747" offset="100%"></stop>
</linearGradient>
<path d="M93.9136534,44.894462 C91.8204267,44.2678972 89.7272,43.8919583 87.6339733,43.7666453 C85.5407466,43.5160194 83.5706509,43.5160194 81.7236862,43.5160194 C75.3208751,43.5160194 69.9031119,44.6438361 65.5935276,47.0247824 C61.2839432,49.4057287 57.7131447,52.2879269 55.1273941,55.5460639 C52.5416435,58.929514 50.5715478,62.5635899 49.463369,66.4482918 C48.3551901,70.3329937 47.7395352,73.8417567 47.7395352,76.7239548 L47.7395352,152.287672 L0.0878453019,152.287672 L0.0878453019,5.1702524 L46.0157015,5.1702524 L46.0157015,26.4734563 L46.6313564,26.4734563 C50.3252858,18.9546784 55.4967871,12.8143432 62.3921221,8.05245058 C69.164326,3.29055795 77.0447089,0.909611629 85.9101396,0.909611629 C87.8802353,0.909611629 89.7272,1.03492459 91.5741647,1.16023756 C93.4211294,1.41086349 94.8987012,1.66148941 96.130011,2.03742831 L93.9136534,44.894462 L93.9136534,44.894462 Z" id="path-5"></path>
<path d="M151.857285,80.4833438 L151.857285,86.3730531 C151.857285,88.3780605 151.734154,90.2577549 151.611023,92.0121364 L46.5802954,92.0121364 C46.9496884,96.1474643 48.1809982,99.9068532 50.2742249,103.290303 C52.3674516,106.673753 54.9532022,109.555951 58.1546077,112.062211 C61.3560133,114.56847 64.9268117,116.448164 68.8670031,117.826607 C72.8071946,119.20505 76.9936479,119.956927 81.1801013,119.956927 C88.6910912,119.956927 95.0939022,118.578485 100.388534,115.696287 C105.683167,112.814088 109.86962,109.180013 113.194157,104.543433 L146.316391,125.846637 C139.544187,135.871674 130.555625,143.641078 119.350706,149.029535 C108.145786,154.417993 95.2170332,157.174878 80.5644464,157.174878 C69.72892,157.174878 59.3859175,155.420496 49.781701,152.037046 C40.0543534,148.528283 31.5583157,143.515765 24.2935878,136.999491 C17.0288598,130.357903 11.2417037,122.212561 7.1783813,112.563463 C2.99192792,102.914364 0.89870123,91.8868235 0.89870123,79.3555271 C0.89870123,67.3254825 2.99192792,56.4232547 7.05525032,46.6488435 C11.1185727,36.8744323 16.6594669,28.6037767 23.6779328,21.8368766 C30.6963988,15.0699766 38.9461746,9.80683207 48.4272602,6.04744315 C57.9083458,2.28805423 68.2513482,0.408359774 79.2100056,0.408359774 C89.922401,0.408359774 99.6497486,2.28805423 108.63831,5.92213019 C117.503741,9.55620614 125.260993,14.8193506 131.663804,21.7115637 C138.066615,28.6037767 142.991854,36.9997453 146.685784,46.8994694 C150.01032,56.5485676 151.857285,67.8267344 151.857285,80.4833438 L151.857285,80.4833438 Z M107.899524,61.8117121 C107.899524,54.1676213 105.560036,47.5260342 100.757927,42.0122638 C95.9558191,36.4984934 88.9373532,33.7416082 79.3331366,33.7416082 C74.6541593,33.7416082 70.4677059,34.493486 66.5275145,35.9972415 C62.5873231,37.5009971 59.2627866,39.5060045 56.307643,42.0122638 C53.3524994,44.5185231 51.0130108,47.6513472 49.289177,51.0347972 C47.5653433,54.5435602 46.5802954,58.0523232 46.3340335,61.8117121 L107.899524,61.8117121 L107.899524,61.8117121 Z" id="path-7"></path>
<path d="M185.989987,152.412985 L185.989987,71.8367492 C185.989987,67.7014214 185.743725,63.6914066 185.12807,59.8067047 C184.512415,55.9220028 183.527367,52.6638658 181.926664,49.9069805 C180.325961,47.1500953 178.232735,44.894462 175.646984,43.2653935 C173.061233,41.6363249 169.613566,40.7591342 165.303982,40.7591342 C161.240659,40.7591342 157.669861,41.6363249 154.714717,43.3907064 C151.759574,45.1450879 149.173823,47.5260342 147.203727,50.5335454 C145.110501,53.5410565 143.632929,56.9245065 142.647881,60.8092084 C141.662833,64.6939103 141.170309,68.7039251 141.170309,72.839253 L141.170309,152.412985 L93.5186193,152.412985 L93.5186193,68.3279863 C93.5186193,59.8067047 91.9179165,53.1651176 88.59338,48.152599 C85.2688435,43.2653935 80.0973423,40.7591342 72.8326144,40.7591342 C65.3216245,40.7591342 59.4113374,43.7666453 55.224884,49.9069805 C51.0384306,56.0473158 48.9452039,63.5660936 48.9452039,72.4633141 L48.9452039,152.412985 L0.924121033,152.412985 L0.924121033,5.04493944 L47.2213702,5.04493944 L47.2213702,25.4709526 L47.8370251,25.4709526 C49.5608588,22.3381285 51.7772165,19.2053044 54.3629671,16.3231062 C56.9487177,13.3155951 60.1501232,10.8093358 63.8440527,8.42838947 C67.5379821,6.17275612 71.6013045,4.29306166 76.1571509,2.91461905 C80.7129972,1.53617645 85.7613674,0.784298666 91.1791306,0.784298666 C101.645264,0.784298666 110.510695,2.91461905 117.775423,7.30057279 C125.040151,11.6865265 130.704176,17.8268618 134.767498,25.9722044 C139.569606,18.3281136 145.849287,12.1877784 153.360276,7.67651168 C160.871266,3.16524498 170.10609,0.90961163 180.941616,0.90961163 C190.792095,0.90961163 199.165002,2.78930609 205.814075,6.42338204 C212.463148,10.057458 217.880911,14.8193506 221.944233,20.583747 C226.007556,26.3481433 228.962699,32.8644174 230.809664,40.1325694 C232.656629,47.4007213 233.518546,54.4182472 233.518546,61.3104603 L233.518546,152.538298 L185.989987,152.538298 L185.989987,152.412985 Z" id="path-9"></path>
<path d="M7.38749001,25.0950137 C15.8835277,16.8243581 25.8571373,10.5587099 37.1851876,6.42338204 C48.5132379,2.28805423 60.0875502,0.157733846 71.9081244,0.157733846 C84.0980916,0.157733846 94.4410941,1.66148941 102.937132,4.79431351 C111.43317,7.80182465 118.205374,12.5637173 123.500006,18.9546784 C128.794638,25.3456396 132.611698,33.4909823 134.951187,43.2653935 C137.413807,53.0398046 138.645117,64.5685973 138.645117,78.1023974 L138.645117,152.412985 L95.056749,152.412985 L95.056749,136.748865 L94.1948321,136.748865 C90.5009027,142.8892 84.9600085,147.651092 77.4490186,150.90923 C69.9380287,154.29268 61.9345149,155.921748 53.1922152,155.921748 C47.4050591,155.921748 41.371641,155.16987 35.2150919,153.540802 C29.0585428,151.911733 23.3945176,149.405474 18.2230164,145.896711 C13.0515152,142.387948 8.86506179,137.626055 5.54052528,131.736346 C2.21598877,125.846637 0.615286011,118.578485 0.615286011,109.806577 C0.615286011,99.1549754 3.44729859,90.5083809 9.23445473,83.9921067 C14.8984799,77.4758326 22.2863388,72.4633141 31.3980314,68.9545511 C40.3865931,65.4457881 50.4833336,63.0648418 61.441991,61.8117121 C72.5237793,60.6838954 83.2361747,60.0573306 93.7023082,60.0573306 L93.7023082,57.6763843 C93.7023082,50.4082324 91.2396886,45.019775 86.1913183,41.511012 C81.1429481,38.002249 74.986399,36.3731804 67.5985401,36.3731804 C71.1693385,36.3731804 54.300394,37.876936 48.020714,40.7591342 C41.7410339,43.7666453 36.3232707,47.2754083 31.8905554,51.4107361 L7.38749001,25.0950137 L7.38749001,25.0950137 Z M94.933618,88.1274346 L88.7770689,88.1274346 C83.4824367,88.1274346 78.3109355,88.3780605 72.8931723,88.8793123 C67.5985401,89.3805642 62.7964318,90.2577549 58.6099784,91.6361976 C54.423525,93.0146402 50.9758575,95.0196476 48.2669759,97.6512198 C45.5580943,100.282792 44.2036535,103.791555 44.2036535,108.177509 C44.2036535,110.934394 44.8193085,113.31534 46.0506183,115.320348 C47.2819281,117.325355 48.8826308,118.829111 50.8527266,120.08224 C52.8228223,121.210057 55.0391799,122.087248 57.5017996,122.5885 C59.9644192,123.089752 62.4270388,123.340377 64.7665275,123.340377 C74.493875,123.340377 81.8817339,120.583492 87.0532352,115.195035 C92.2247364,109.806577 94.810487,102.413112 94.810487,93.1399531 L94.810487,88.1274346 L94.933618,88.1274346 Z" id="path-11"></path>
</defs>
<g id="v2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="What-we-do" transform="translate(-41.000000, -139.000000)">
<g id="Group-13" filter="url(#filter-1)" transform="translate(76.000000, 171.771484)">
<g id="Rectangle-4">
<mask id="mask-3" fill="white">
<use xlink:href="#path-2"></use>
</mask>
<use id="Mask" fill="#000000" xlink:href="#path-2"></use>
<rect fill="url(#linearGradient-4)" mask="url(#mask-3)" x="-23" y="-20" width="884" height="260"></rect>
</g>
<g id="Rectangle-4" transform="translate(200.000000, 63.000000)">
<mask id="mask-6" fill="white">
<use xlink:href="#path-5"></use>
</mask>
<use id="Mask" fill="#000000" xlink:href="#path-5"></use>
<rect fill="url(#linearGradient-4)" mask="url(#mask-6)" x="-223" y="-83" width="884" height="260"></rect>
</g>
<g id="Rectangle-4" transform="translate(294.000000, 63.000000)">
<mask id="mask-8" fill="white">
<use xlink:href="#path-7"></use>
</mask>
<use id="Mask" fill="#000000" xlink:href="#path-7"></use>
<rect fill="url(#linearGradient-4)" mask="url(#mask-8)" x="-317" y="-83" width="884" height="260"></rect>
</g>
<g id="Rectangle-4" transform="translate(457.000000, 63.000000)">
<mask id="mask-10" fill="white">
<use xlink:href="#path-9"></use>
</mask>
<use id="Mask" fill="#000000" xlink:href="#path-9"></use>
<rect fill="url(#linearGradient-4)" mask="url(#mask-10)" x="-480" y="-83" width="884" height="260"></rect>
</g>
<g id="Rectangle-4" transform="translate(700.000000, 63.000000)">
<mask id="mask-12" fill="white">
<use xlink:href="#path-11"></use>
</mask>
<use id="Mask" fill="#000000" xlink:href="#path-11"></use>
<rect fill="url(#linearGradient-4)" mask="url(#mask-12)" x="-723" y="-83" width="884" height="260"></rect>
</g>
</g>
</g>
</g>
</svg>