.showcase-mobile-wrapper
  .showcase-mobile
    include ./showcase-mobile-svg.jade
    .taglines-mobile
      .tagline-mobile
        h1 A startup team for hire
        p Our small teams think like entrepreneurs running experiements through prototyping, validating, pivoting, and developing from concept to scalable business.
        a(href="/services")
          button.mango-btn  SEE OUR SERVICES
      
      .tagline-mobile
        h1 Speedboat to innovate
        p Your company may move like a cruise ship; slow and steady and on course.  Our small teams explore new waters with agility and curiosity to find and test new digital landscapes.
        a(href="/expertise")
          button.mango-btn  SEE OUR EXPERTISE
      
      .tagline-mobile
        h1 Local design and development
        p We work hard to keep our team close.  While our clients are all over the world, our strategists, managers, designers, and developers work side by side toward a common goal; the success of your idea.
        a(href="/work")
          button.mango-btn  SEE OUR WORK  
      
      .tagline-mobile
        h1 Experiment and test all assumptions
        p We believe in agile and lean principles.  Be curious. Solve real problems. Test early and often through surveys, prototypes, and iterative development. Pivot to find product-market fit. 
        a(href="/services")
          button.mango-btn  CHECK OUT OUR SERVICES