.showcase-mobile-wrapper
  .showcase-mobile
    .taglines-mobile
      .tagline-mobile
        h1 A startup team for hire.
        p Our small teams think like entrepreneurs running experiements through prototyping, validating, pivoting, and developing from concept to scalable business.
        a(href="https://cremalab.typeform.com/to/daFqwI" target="_blank")
          button.mango-btn  SEE OUR 
      
      .tagline-mobile
        h1 We create and bring new products to market.
        p Crema is a creative agency that provides business strategy, design, user experience and technology services to new ventures and some of the world's most innovative organizations.
        a(href="https://cremalab.typeform.com/to/daFqwI" target="_blank")
          button.mango-btn  SEE OUR WORK
      
      .tagline-mobile
        h1 We turn good ideas into great product experiences.
        p Our small teams think like entrepreneurs running experiements through prototyping, validating, pivoting, and developing from concept to scalable business.
        a(href="https://cremalab.typeform.com/to/daFqwI" target="_blank")
          button.mango-btn  GET IN TOUCH    