<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width height preserveAspectRatio="none" viewBox="0 0 1440 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<desc>Created with Sketch.</desc>
<defs>
<path d="M0,119 L0,117.310656 C170.492188,117.310656 342.332031,11.1748946 496.261719,1.06161332 C671.594235,-10.4578478 857.40625,75.1319258 1025.40625,95.1748946 C1185.95423,114.328812 1284.44922,87.7217696 1440,27.1748946 L1440,119 C1290.5,119.168855 32.0195312,119 0,119 Z" id="path-1"></path>
</defs>
<g id="v1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<mask id="mask-2" fill="white">
<use xlink:href="#path-1"></use>
</mask>
<use id="Bottom-Mask" fill="#FFFFFF" xlink:href="#path-1"></use>
</g>
</svg>

