
.showcase-wrapper
  #showcase-mask-top.showcase-mask-top-start
    include ./showcase-curve-top.jade
  #cards-wrapper
    .grid
      .col.col-taglines
        .showcase-copy-table
          .showcase-row
            .col
              .tagline#tagline-1
                h1 Speedboat to innovate
                p Your company may move like a cruise ship: slow and steady and on course.  Our small teams explore new waters with agility and curiosity to find and test new digital landscapes.
                a(href="/expertise")
                  button.mango-btn  See our expertise
          .showcase-row
            .col
              .tagline#tagline-2
                h1 Local design and development
                p We work hard to keep our team close.  While our clients are all over the world, our strategists, managers, designers, and developers work side by side toward a common goal: the success of your idea.
                a(href="/work")
                  button.mango-btn  Check out our work
          .showcase-row
            .col
              .tagline#tagline-3
                h1 Experiment and test all assumptions
                p We believe in agile and lean principles.  Be curious. Solve real problems. Test early and often through surveys, prototypes, and iterative development. Pivot to find product-market fit. 
                a(href="/services")
                  button.mango-btn  Check out our services
          .showcase-row
            .col
              .tagline#tagline-4
                h1 A startup team for hire
                p Our small teams think like entrepreneurs, running experiments through prototyping, validating, pivoting, and developing from concept to scalable business.
                a(href="/team")
                  button.mango-btn  See our team
      .slides.col
        .showcase#showcase
          .slide(id="slide1")
            .grid
              .left.col
                //- .card
                //-   img(src="https://s3.amazonaws.com/hiphire.com/homepage/adidas-sq.jpg")
                //-   #case-title Adidas - How we built a wearable experience for atheletes
                a(href="https://medium.com/ideas-by-crema/the-crema-difference-45b43e6ae176#.9tkji8s9g" target="_blank")
                  .card
                    p Ideas by Crema
                    h1 The Crema difference
                a(href="http://www.getscorebot.com/" target="_blank")
                  .card
                    img(src="/images/work/sbsc.png")
                    #case-title Scorebot - Scoring the office with a chatbot in Slack
                a(href="https://www.youtube.com/watch?v=JHWx7l91awo" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-cremais.jpg")
                    #case-title What is Crema? Watch the video
                a(href="https://medium.com/@cremalab/creating-a-peer-to-peer-lending-platform-that-went-global-the-story-of-endurance-lending-network-e77aeee5cdaa#.4u66byq1h" target="_blank")
                  .card
                    img(src="https://s3.amazonaws.com/hiphire.com/homepage/eln-sq.jpg")
                    #case-title Endurance Lending Network - From concept to acquisition in 2 years  
                a(href="https://medium.com/ideas-by-crema/the-future-of-collaboration-dce33fe335ba#.hyon5vx3a" target="_blank")
                  .card
                    p Ideas by Crema
                    h1 The future of collaboration 
                a(href="http://laborchart.com/" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-laborchart.jpg")
                    #case-title Labor Chart - See it live
                a(href="https://www.youtube.com/watch?v=vr9i-KEnBaM" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-cost.jpg")
                    #case-title How much does it cost to build an app?
                a(href="https://www.youtube.com/watch?v=r8VxJ-mD840" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-design.jpg")
                    #case-title Why does good design matter?
              
              .right.col
                a(href="http://tilr.com" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-tilr.jpg")
                    #case-title tilr - on demand hiring
                a(href="http://makesuccessfulapps.com/" target="_blank")
                  .card
                    p Ideas by Crema
                    h1 Why simple products win
                a(href="http://www.1millioncups.com/" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-1mc.jpg")
                    #case-title 1 Million Cups - See it live
                a(href="https://www.youtube.com/watch?v=OP2CDwy0Z3g" target="_blank")
                  .card
                    img(src="/images/home/showcase/showcase-card-techtrends.jpg")
                    #case-title Business Tech Trends - 2017
                a(href="https://medium.com/@cremalab/how-we-built-a-marketplace-that-enables-farmers-to-list-and-rent-idle-farm-equipment-across-the-b4fe6dbeff9#.79q17clux" target="_blank")
                  .card 
                    img(src="/images/home/showcase/showcase-card-ml.jpg")
                    #case-title Machinery Link - A marketplace to list and rent farm equipment
                a(href="https://medium.com/ideas-by-crema/it-is-difficult-to-keep-it-simple-452d1fe24646#.42ve0e3kh" target="_blank")
                  .card#trigger-copy-change-2 
                    p Ideas by Crema
                    h1 It is difficult to keep it simple
                a(href="https://www.youtube.com/watch?v=1HlBqBfDP8A" target="_blank")
                  .card 
                    img(src="/images/home/showcase/showcase-card-workatcrema.jpg")
                    #case-title Crema's Clients - Learn about who we serve
                a(href="https://medium.com/@cremalab/3-ways-to-test-that-your-simple-product-idea-has-merit-fe60aef6ca68#.it2orvd3y" target="_blank")
                  .card 
                    p Ideas by Crema
                    h1 3 ways to test that your simple product idea has merit
              .spacer(style="height:270px;width:100%;")
  #showcase-mask-bot.showcase-mask-bot-start
    include ./showcase-curve-bottom.jade 