<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg class="mobile-svg" id="internal-mobile-svg" viewBox="0 0 375 770" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!-- Generator: sketchtool 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
<title>F3654E85-2D9C-448F-B1E9-56399A7D997A</title>
<desc>Created with sketchtool.</desc>
<defs>
<linearGradient x1="13.9159367%" y1="28.6874626%" x2="76.3517744%" y2="75.7498601%" id="linearGradient-1">
<stop stop-color="#8BF6FE" offset="0%"></stop>
<stop stop-color="#9252FC" offset="100%"></stop>
</linearGradient>
<path d="M-4.50306459e-13,1.30511765 C0.383945918,1.12831283 0.770998984,0.992381765 1.16118217,0.898199616 C38.8234657,-8.19269638 95.8604522,54.4145823 126.379889,67.4294783 C156.899326,80.4443743 196.509658,73.2736246 274.431624,54.4145823 C315.11166,44.5690079 350.482328,53.6753846 375,64.6289462 L375,710.438548 C371.191637,709.846968 367.205815,709.056706 363.034644,708.04718 C285.112678,689.188137 257.460786,717.212787 207.431767,741.335401 C157.402747,765.458015 98.806006,785.174429 13.4563484,751.438287 C8.52826194,749.490363 4.05483117,746.379415 -1.77344571e-05,742.246243 L2.22044605e-15,1.30511765 L-4.50306459e-13,1.30511765 Z" id="path-2"></path>
</defs>
<g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="-Work_Mobile" transform="translate(0.000000, -1983.000000)">
<g id="Rectangle-4" transform="translate(0.000000, 1983.000000)">
<mask id="mask-3" fill="white">
<use xlink:href="#path-2"></use>
</mask>
<use id="Combined-Shape" fill="url(#linearGradient-1)" xlink:href="#path-2"></use>
</g>
</g>
</g>
</svg>