a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/youtube.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/medium.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/dribbble.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/github.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/white-facebook.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/insta.svg')
a(href='http://youtube.com' target='_blank')
  img(src='/images/footer/twitter.svg')
a(href='http://youtube.com' target='_blank' style="margin-right:-3px")
  img(src='/images/footer/linkedin-icon.svg' style="margin-right:0")