.footer
  .footer-content
    .grid 
      .col.address
        .address-head Crema HQ
        .address-txt 1815 Central St.
        .address-txt Kansas City, Missouri 64108
      .col.social-wrapper
        a(href='https://www.youtube.com/channel/UC1T23xzbsuKiU2s8aado4Vg' target='_blank')
          img(src='/images/footer/youtube.svg')
        a(href='https://www.instagram.com/cremalab/' target='_blank')
          img(src='/images/footer/medium.svg')
        a(href='https://dribbble.com/cremalab' target='_blank')
          img(src='/images/footer/dribbble.svg')
        a(href='https://github.com/cremalab' target='_blank')
          img(src='/images/footer/github.svg')
        a(href='https://www.facebook.com/cremalab' target='_blank')
          img(src='/images/footer/white-facebook.svg')
        a(href='https://medium.com/ideas-by-crema/latest' target='_blank')
          img(src='/images/footer/insta.svg')
        a(href='https://twitter.com/cremalab' target='_blank')
          img(src='/images/footer/twitter.svg')
        a(href='https://www.linkedin.com/company/cremalab' target='_blank' style="margin-right:-3px")
          img(src='/images/footer/linkedin-icon.svg' style="margin-right:0")    


