.footer
  .footer-content
    h1 Are you interested in working with us?
    .subh1 Are you interested in working with us?
    button.mango-btn  STARTUP / CONCEPT
    button.mango-btn  EARLY STAGE
    button.mango-btn  INNOVATIVE COMPANY
    hr
    .grid 
      .col.address
        .address-head Crema HQ
        .address-txt 1815 Central St.
        .address-txt Kansas City, Missouri 64108
      .col.social-wrapper
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/youtube.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/medium.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/dribbble.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/github.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/white-facebook.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/insta.svg')
        a(href='http://youtube.com' target='_blank')
          img(src='/images/footer/twitter.svg')
        a(href='http://youtube.com' target='_blank' style="margin-right:-3px")
          img(src='/images/footer/linkedin-icon.svg' style="margin-right:0")    


