extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/build/modules/contact.css')

block append scripts

block vars

block content
  .contact-wrapper
    .contact-details
      .title
        h1 Contact us
        p Want to get in touch? Here's how!
      .details
        a(href="mailto:nate@cremalab.com")
          p nate@cremalab.com
        p 913.220.2141
        p 1815 Central St. KC, MO 64108  
      .typeform
        //- h1 Let's talk about your bussiness 
        p Or – if you want to drop off some info now, we'll be in touch soon.
        a(href="https://cremalab.typeform.com/to/vhKzYP" target="_blank")
          button.mango-btn  Let's get started 

  include ./partials/footer.jade