extends layout

block content
  <br/>
  <br/>
  <br/>
  <br/>
  h1 oh no We need to design a 404 page!
  img(src='http://s3.favim.com/orig/46/adorable-bunnies-sleeping-cute-Favim.com-411174.jpg')
  h2= error.status
  pre #{error.stack}
