extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/build/modules/home.css')
  style.
    @media screen and (max-width: 700px) {
      .header-nav {
        padding-top: 10px;
        height: 50px;
      } 
    }
    iframe {display:none;}

block append scripts
  script( type="text/javascript" src="javascripts/build/home.js")

block vars
  - var onHomePage = true

block content
  include ./partials/homepage/banner.jade
  
  include ./partials/homepage/showcase.jade

  include ./partials/homepage/showcase-mobile.jade
       
  //- displaying comapany logos 
  //- routes/index.js is reading file names from './public/images/logos/client-logos';
  //- and exposing them as an array 'logoFileNames' with relative path '/images/logos/client-logos/';
  .landing-logos#waypoints-logos
    ul.logos
      -var ob = logoFileNames
      -for(var prop in ob)
        li.logo 
          img(src='#{ob[prop]}')


  include ./partials/footer.jade
  
  
