extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/build/modules/home.css')
  style.
    @media screen and (max-width: 700px) {
      .header-nav {
        padding-top: 10px;
        height: 50px;
      } 
    }

block vars
  - var onHomePage = true

block content

  .logo-wrapper
    include ./partials/home-video-logo.jade
 
  #showcase1
    .grid
      
      .col.img-col
        .subtle-move(id="brookside-img" data-parallax="true" data-speed="0.2" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/LB.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" )
        .subtle-move(id="cups-img" data-parallax="true" data-speed="0.35" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/1mc.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" )
        .subtle-move( id="ML-img" data-parallax="true" data-speed="0.075" data-direction="down")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/ml.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col
        .showcase-text
          h1 Helping enterprises innovate
          p Crema works outside the enterprise machine to move fast, prototype new ideas and test new product opportunities for brands looking to innovate within their industry. Having a website or app is no longer a differentiator in a competitive market. Companies must solve problems and create value to stand out in a crowded digital world. Crema ideates, builds and tests new ideas to find product-market fit.
          a(href="/enterprise-work")
            button.mango-btn SEE OUR ENTERPRISE WORK

  #showcase2
    .grid.-rtl
      .col.img-col
        .subtle-move(id="tilr-mobile-img" data-parallax="true" data-speed="0.1" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/tilr.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" )
        
        .subtle-move(id="tilr-img" data-parallax="true" data-speed="0.3" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/tilr-desktop.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        
        .subtle-move(id="throttle-img" data-parallax="true" data-speed="0.05" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/Throttle.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        
        .subtle-move(id="neighborly-img" data-parallax="true" data-speed="0.2" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/Neighborly.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" )
        
        .subtle-move(id="pc-img" data-parallax="true" data-speed="0.3" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/pc.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        
        .subtle-move(id="hiphire-img" data-parallax="true" data-speed="0.12" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/HH.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")  

      .col
        .showcase-text.-ltr
          h1 Launching new digital ventures
          p Navigating the startup waters takes planning, execution and guts. Our strategy led teams connect ideation, prototyping, funding and product releases; to marketing, growth and customer development. All in an effort to position new business for early traction and rapid growth.  
          a(href="/innovative-work")
            button.mango-btn SEE OUR VENTURE WORK

  #showcase3  
    
    .grid
      
      .col.img-col
        .subtle-move(id="score-img" data-parallax="true" data-speed="0.06" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/scorebot.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        
        .subtle-move(id="plaster-img" data-parallax="true" data-speed="0.06" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/Plaster.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" )
        
        .subtle-move(id="str-plain-img" data-parallax="true" data-speed="0.2" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/string-plain.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        
        .subtle-move(id="str-img" data-parallax="true" data-speed="0.2" data-direction="up")
          .img-lazy-wrapper
            .img-placeholder
            img(data-src="/images/home/homepage/string2.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .col
        .showcase-text
          h1 Crafting our own products
          p Working within our Crema Innovation Lab, we build digital products that scratch our own itch and bring our greatest ideas to life. These products have been featured on Product Hunt and The Next Web and used by fortune 500 companies around the world.  
          a(href="/our-work")
            button.mango-btn  SEE OUR INTERNAL WORK
      

  
  //- displaying comapany logos 
  //- routes/index.js is reading file names from './public/images/logos/client-logos';
  //- and exposing them as an array 'logoFileNames' with relative path '/images/logos/client-logos/';
  .landing-logos#waypoints-logos
    ul.logos
      -var ob = logoFileNames
      -for(var prop in ob)
        li.logo 
          img(src='#{ob[prop]}')


  include ./partials/footer.jade
  .post-footer
    a(href='/services')
      img(src='/images/home/see-our-services.png')
  
  