extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/build/modules/home.css')

block content
  .parallax
    .logo-wrapper
      include ./partials/header-logo.jade  
      
    #showcase1
      .cover-video
      include ./partials/enterprise-svg.jade
      .grid.parallax-layer.back
        .col#parallaxCol1
          img(src="/images/home/m-l-mock-2@2x.png" id="parallax-img-1").parallax-layer.base
        .col
          .showcase-text
            h1 Helping enterprises innovate
            p Crema works outside the enterprise machine to move fast, prototype new ideas, and test new product opportunities for brands looking to innovate within their industry. Having a website or app is no longer a differentiator.  Companies must solve problems and create value to stand out in a crowded digital world.  Crema ideates, builds, and tests new ideas to find product-market fit. 

