doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title= title
    link(href="/stylesheets/build/base/layout.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    <meta name="description" content="A product design team for you">
    <meta property="og:description" content="A product design team for you">
    <meta property="og:image"              content="#{settings.env}/images/socialShareThumbnailFall2016.png"/>
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Crema.us" />
    block styles

    block scripts
      
    block vars

      
      
  body
    .header-nav
      .grid
        .col.-cremalogo
          if !onHomePage
            a(href="/" id="crema-logo-desktop")
              include ./partials/crema-logo-svg
            #crema-mobile-color-logo
              a(href="/")
                img(src="/images/crema-logo-mobile-color.png")  
        .col.links-nav  
          a(href="/", title="What We Do") What we do
          a(href="/services", title="Services") Services
          a(href="/expertise", title="Expertise") Expertise
          a(href="/team", title="Team") Team
          
    .layout-wrapper
      block content
      
    script(src='./javascripts/bundle.js')
    script(src='./javascripts/google-analytics.js')
    script(src='./javascripts/intercom.js')