doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title= title
    link(href="/stylesheets/build/base/layout.css", rel="stylesheet")
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   
    block styles

    block vars

      
      
  body
    .header-nav
      .grid
        .col.-cremalogo
          if !onHomePage
            a(href="/")
              include ./partials/crema-logo-svg
        .col.links-nav  
          a(href="/", title="What We Do") What we do
          a(href="/services", title="Services") Services
          a(href="/expertise", title="Expertise") Expertise
          a(href="/team", title="Team") Team
          
    .layout-wrapper
      block content
      
    script(src='./javascripts/bundle.js')