doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title= title
    link(href="/stylesheets/build/base/layout.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    
    <meta name="description" content="A product design team for you">
    <meta property="og:description"        content="A product design team for you">
    <meta property="og:image"              content="https://s3.amazonaws.com/crema.us/socialShareThumbnailFall2016.png"/>
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Crema.us" />
    <meta property="og:url"                content="#{settings.env}" />
    <link rel="image_src"                  href="https://s3.amazonaws.com/crema.us/socialShareThumbnailFall2016.png"/>
    <script src="//a.mailmunch.co/app/v1/site.js" id="mailmunch-script" data-mailmunch-site-id="270591" async="async"></script>
    block styles

    block scripts
      
    block vars
       
        
      
  body
    .header-nav
      .grid
        .col.-cremalogo
          if !onHomePage
            a(href="/" id="crema-logo-desktop")
              include ./partials/crema-logo-svg
        .col.links-nav  
          a(href="/work", title="Work") Work
          a(href="/services", title="Services") Services
          a(href="/expertise", title="Expertise") Expertise
          a(href="/team", title="Team") Team
          a(href="/contact", title="Let's chat") 
            button.mango-btn.-btn-nav  Let's talk
          
    .layout-wrapper
      block content
      
    script(src='./javascripts/build/bundle.js')
    script(src='./javascripts/google-analytics.js')
    script(src='./javascripts/hubspot.js')
    //- Google Code for Remarketing Tag
    script(type="text/javascript").
      /* <![CDATA[ */
      var google_conversion_id = 861384111;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js")
    <noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/861384111/?guid=ON&amp;script=0"/></div></noscript>
