doctype html
html
  head
    title= title
    link(href="/stylesheets/build/base/layout.css", rel="stylesheet")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    script(src='/dependencies/parallax/parallax.min.js')
    
    block styles
      
      
  body
    .header-nav
      .grid
        a(href="#", title="title").col What we do
        a(href="#", title="title").col Services
        a(href="#", title="title").col Team
        a(href="#", title="title").col Contact
    
    block content

    script(src='./javascripts/bundle.js')