extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/build/modules/work.css')

block append scripts

block vars

block content
  .work-wrapper
    .headline
      h1 Our work
      p Check out our work for funded startups and existing brands

    .work-showcase
      include ./partials/work-modals/work-green-curve-svg.jade
      .work.one
        .work-hover
          .centered
            h1 tilr
            p On demand hiring
            a(href="http://www.tilr.com/", target="_blank")
              button.mango-btn SEE IT LIVE
      .work.seven
        .work-hover
          .centered
            h1 Scorebot
            p Score the office
            a(href="http://www.getscorebot.com/", target="_blank")
              button.mango-btn SEE IT LIVE
      .work.four
        .work-hover
          .centered
            h1 1 Million Cups  
            p Building an entrepreneurial nation
            a(href="https://medium.com/@cremalab/1-million-cups-5b1c544cd9c3#.1rt5zvs1h", target="_blank")
              button.mango-btn READ THE CASE STUDY
      .work.two
        .work-hover
          .centered
            h1 Labor Chart
            p The future of construction workforce management
            a(href="http://laborchart.com/", target="_blank")
              button.mango-btn SEE IT LIVE
      .work.three
        .work-hover
          .centered
            h1 Endurance Lending Network
            p Launch to acquisition in two years
            a(href="https://medium.com/@cremalab/creating-a-peer-to-peer-lending-platform-that-went-global-the-story-of-endurance-lending-network-e77aeee5cdaa#.kz3yy36eo", target="_blank")
              button.mango-btn READ THE CASE STUDY
      
      .work.five
        .work-hover
          .centered
            h1 Machinery Link
            p Marketplace for farm equipment
            a(href="https://medium.com/@cremalab/how-we-built-a-marketplace-that-enables-farmers-to-list-and-rent-idle-farm-equipment-across-the-b4fe6dbeff9#.o2t165p0b", target="_blank")
              button.mango-btn READ THE CASE STUDY
      .work.six
        .work-hover
          .centered
            h1 HipHire
            p Part time hiring. Simplified.
            a(href="http://www.gethiphire.com/", target="_blank")
              button.mango-btn SEE IT LIVE
      .work.eight
        .work-hover
          .centered
            h1 String
            p Find what's next 
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn SEE IT LIVE
      
      
  include ./partials/footer.jade