extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/build/modules/work.css')

block append scripts

block vars

block content
  .work-wrapper
    .headline
      h1 Our work
      p We have the best work. Our work is amazing. Everyone loves our work. Bigly.

    .work-showcase
      include ./partials/work-modals/work-green-curve-svg.jade
      .work.one
        .work-hover
          .centered
            h1 String  
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.two
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.three
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      
      .work.one
        .work-hover
          .centered
            h1 String  
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.two
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.three
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.two
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      .work.three
        .work-hover
          .centered
            h1 String
            a(href="http://www.stringapp.us/", target="_blank")
              button.mango-btn BE A BETA USER
      
  include ./partials/footer.jade