.footer {
  width: 100%;
  text-align: center;
  padding-top: .5em;
  padding-bottom: 2em;
  position: relative;
  background-color: $coral;
  .footer-content{
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    color: white;
    margin-bottom: 5px;
  }
  .subh1 { 
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
  }
  hr {
    border: solid 1px #ffffff;
    width: 100%;
    margin-top: 20px;
  }
  button {
    margin: 20px;
  }
  .grid {
    margin-top: 45px;
  }
  .address {
    text-align: left;
    color: white;
    .address-head {
      font-family: 'Spartan', sans-serif;
      font-size: 13px;
    
    }
    .address-txt {
      padding: 2px 0;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
    }
  }
  .social-wrapper {
    text-align: right;
    img {
      margin: 0 10px;

    }
  }
}

@media screen and (max-width:700px) {
  .footer {
    .address {
      text-align: center;
      padding-bottom: 2em;
    }
    .social-wrapper {
      display: table-row;
      text-align: center;
      a {
        display: inline-block;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 25px;
        height: 18px;
        img { height:100%;}
      }
    
    }
    button {
      margin: 1.5em auto;
      display: block;
    }
  }
}