.header-nav {
  position: relative;
  z-index: 5;
  .grid {
    position: absolute;
    width: 100vw;
    
    height: 100px;

    .links-nav {
      width: 40%;
      min-width: 500px;
      margin-right: 0;
      text-align: right;
      padding-right: 2em;
      vertical-align: middle;
      a {
        
      }
    }
    .-cremalogo {
      text-align: left;
    }  
    #cremaLogoSVG {
      height: 75px;
      margin-left: 2em;
      margin-top: -15px;
    }
  }
  .col {
    text-align: center;
    
    
  }
  
}

