extends layout-work-galleries

block content
  .work-content
    h1 We craft our own products


    .work-img-wrapper
      
      .work-by-crema
        .hover-work-by-crema
          h1 Scorebot
          button.mango-btn READ CASE STUDY
        .img-placeholder(style="height: 42.9vw")
        img(data-src="/images/work/scorebot@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )

      .work-by-crema
        .hover-work-by-crema
          h1 String
          button.mango-btn BE A BETA USER
        .img-placeholder(style="height: 42.9vw")
        img(data-src="/images/work/string@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      .work-by-crema
        .hover-work-by-crema
          h1 Plaster
          button.mango-btn Watch the Video
        .img-placeholder(style="height: 42.9vw")
        img(data-src="/images/work/plaster@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
    
    include ../footer.jade
    .post-footer
      a(href='')
        img(src='/images/home/see-our-services.png' style="width:25%")

          