extends layout-work-galleries

block content
  .work-content
    h1 We help enterprise innovate


    .work-img-wrapper
      
      .work-by-crema
        .hover-work-by-crema
          h1 1 Million Cups
          button.mango-btn READ CASE STUDY
        .img-placeholder
        img(data-src="/images/work/1-m-c@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )

      .work-by-crema
        .hover-work-by-crema
          h1 Adidas
          button.mango-btn READ CASE STUDY
        .img-placeholder
        img(data-src="/images/work/adidas.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      .work-by-crema
        .hover-work-by-crema
          h1 Space Center Houston
          button.mango-btn READ CASE STUDY
        .img-placeholder(style="height: 42vw;")
        img(data-src="/images/work/space-center.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          h1 Machinery Link
          button.mango-btn READ CASE STUDY
        .img-placeholder(style="height: 42.9vw")
        img(data-src="/images/work/ml.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
    
    include ../footer.jade
    .post-footer
      a(href='/innovative-work')
        img(src='/images/work/see-digital-ventures@2x.png')

          