//- modal popup showing work

.work-modal#modal-ent
  .work-content
    .close-modal#close-enterprise X
    h1 We help enterprise innovate
    img(data-src="/images/home/ventures/dv-tilr.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
    include ../footer.jade
    .post-footer
      a(href='')
        img(src='/images/home/see-our-services.png')

script.
  document.getElementById('btn-modal-ent')
    .addEventListener('click', function() {
      var modalEnt = document.getElementById('modal-ent')
      modalEnt.classList.add('active-work-modal')
      console.log('click ent')
    })
  document.getElementById('close-enterprise')
    .addEventListener('click', function() {
      document.getElementById('modal-ent').classList.remove('active-work-modal')
      console.log('exit enterprise')
    })  

          