extends layout-work-galleries

block content
  .work-content
    h1 We launch new digital ventures


    .work-img-wrapper
      
      .work-by-crema
        .hover-work-by-crema
          h1 tilr
          button.mango-btn READ CASE STUDY
        img(data-src="/images/work/tilr.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )

      .work-by-crema
        .hover-work-by-crema
          h1 Zoomin Market
          button.mango-btn READ CASE STUDY
        img(data-src="/images/work/zoomin.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      .work-by-crema
        .hover-work-by-crema
          h1 Neigborly
          button.mango-btn READ CASE STUDY
        img(data-src="/images/work/neighborly.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          h1 HipHire
          button.mango-btn READ CASE STUDY
        img(data-src="/images/work/hiphire@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          h1 Endurance Lending Network
          button.mango-btn READ CASE STUDY
        img(data-src="/images/work/e-l-n@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )  
    
    include ../footer.jade
    .post-footer
      a(href='/our-work')
        img(src='/images/work/see-internal-work@2x.png')

          