extends layout-work-galleries

block content
  .work-content
    h1 We launch new digital ventures


    .work-img-wrapper
      
      .work-by-crema
        .hover-work-by-crema
          .centered
            h1 tilr
            a(href="http://tilr.com/", target="_blank")
              button.mango-btn SEE IT LIVE
        .img-placeholder(style="height: 42.9vw")
        img(data-src="/images/work/tilr.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )

      .work-by-crema
        .hover-work-by-crema
          .centered
            h1 Zoomin Market
        .img-placeholder
        img(data-src="/images/work/zoomin.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          .centered
            h1 Labor Chart
        .img-placeholder
        img(data-src="/images/work/neighborly.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          .centered
            h1 HipHire
            a(href="http://hiphire.com/", target="_blank")
              button.mango-btn SEE IT LIVE
        .img-placeholder
        img(data-src="/images/work/hiphire@2x.png" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )
      
      .work-by-crema
        .hover-work-by-crema
          .centered
            h1 Endurance Lending Network
            a(href="https://medium.com/@cremalab/creating-a-peer-to-peer-lending-platform-that-went-global-the-story-of-endurance-lending-network-e77aeee5cdaa#.1gjn814ag", target="_blank")
              button.mango-btn READ CASE STUDY
        .img-placeholder
        img(data-src="/images/work/eln@2x.jpg" class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  )  
    
    include ../footer.jade
    .post-footer
      a(href='/our-work')
        img(src='/images/work/see-internal-work@2x.png')

          