@import '../../base/_colors';

.showcase-wrapper {
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(238deg, #8bf6fe, #9252fc);
  
  overflow: hidden;
  .taglines {
    width: 45%;
    height: 50vh;
  }
  .taglines-start {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);  
  }
  .taglines-scroll {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);  
  }
  .taglines-end {
    position: absolute;
    bottom: 50vh;
    transform: translateY(50%);
  }

  .slides {
    width: 55%;
    transform: translate(5%, 6.5%)

  }
}
.tagline-relative-wrapper {
  position: relative;
  height: 50vh;
}



.tagline {
  width: 90%;
  color: white;
  margin-left:2em;
  h1 {font-size:2.5em;}
  p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    }
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transition: all 1s;
}

.-opacity-0 {
 opacity: 0; 
}

.-translate-100-up {
  transform: translateY(-150%)
}
.tagline-animate {
  animation: tagline-out 1s 1;
}


#cards-wrapper {
    transition: all 1s;
}


.showcase {
  transition: all 1s;
}
.nav {
  position: absolute;
  right: 0;
  top: 50%; 
}

.showcase-mask-top-start {
  position: absolute;
  margin-top: -.1%;
}

.showcase-mask-top-scroll {
  position: fixed;
  top: 0;
}
.showcase-mask-top-end {
  position: absolute;
  bottom: 100vh;
  transform: translateY(97%);
}

#showcase-mask-top {
  svg {
    width: 100vw;
    height: 24vh;
  }
  z-index: 2;
}

.showcase-mask-bot-start {
  position: absolute;
  top: 100vh;
  margin-bottom: -.3%;
  transform: translateY(-97%);
}
.showcase-mask-bot-scroll {
  position: fixed;
  transform: translateY(-97%);
  top: 100vh;
}
.showcase-mask-bot-end {
  position: absolute;
  bottom: 0;
  margin-bottom: -.5%;
}

#showcase-mask-bot {
  svg {
    width: 100vw;
    height: 22vh;
  }
  z-index: 2;
}


.slide {
  .grid {
    display: block;
    transform: translateX(3vw);
    }
  .right {
    transform: translateY(10vh); 

  }
}
#case-title {
  color: black;
    font-family: "Spartan";
    padding: 15px; 
}




.card {
  box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.75);
  width: 255px;
  min-height: 200px;
  background: white;
  margin: 2em .5em 2em .5em;
  img {
    width:100%;
    height: auto;
  }
  p {
    padding-top: 20px;
    color: $servicesLinkGrey;
  }
  h1 { 
    color: $warmCoral;
    padding-bottom: 40px;
    font-size: 1.5em;
    }
  p,h1 {
    margin-left:20px;
  }

}

@keyframes tagline-out {
  0% {
    opacity: 100;
    
  }
  100% {
    opacity: 0;
    transform: translateY(-100%)
  }
}

