@import '../../base/_colors';

.showcase-wrapper {
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(238deg, #8bf6fe, #9252fc);
  
  overflow: hidden;
  .taglines {
    width: 45%;
    height: 50vh;
  }
  .taglines-start {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);  
  }
  .taglines-scroll {
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);  
  }
  .taglines-end {
    position: absolute;
    bottom: 50vh;
    transform: translateY(50%);
  }
  .slides {
    width: 55%;
    transform: translate(5%, 6.5%)

  }
}
.col-taglines {
  width: 40vw;
  min-height: 400px;
}
.tagline-relative-wrapper {
  position: relative;
  height: 50vh;
}

.showcase-copy-table {
  height: 80%;
  display: table;
}
.showcase-row {
  display: table-row;
  .col {
    width: 80%;
  }
}

.tagline {
  width: 90%;
  color: white;
  max-width: 550px;
  // position: absolute;
  // transform: translateY(-50%);
  // top: 0;
  opacity: 0;
  transition: all 1.5s;
  margin-left:10%;
  h1 {font-size:2.1em;}
  p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    }

}

.-opacity-0 {
 opacity: 0; 
}
.tagline-animate-in {
  margin-left:15%;
  opacity: 1;
}

.tagline-animate-out {
  margin-left: initial;
  opacity: .1;
}

#cards-wrapper {
    transition: all 1s;
}

.showcase {
  transition: all 1s;
}
.nav {
  position: absolute;
  right: 0;
  top: 50%; 
}
.showcase-mask-top-start {
  position: absolute;
  margin-top: -.1%;
}

.showcase-mask-top-scroll {
  position: fixed;
  top: 0;
}
.showcase-mask-top-end {
  position: absolute;
  bottom: 100vh;
  transform: translateY(97%);
}

#showcase-mask-top {
  svg {
    width: 100vw;
    height: 21vh;
    display: block;
  }
  z-index: 2;
  position: sticky;
}

.showcase-mask-bot-start {
  position: absolute;
  bottom: -1px;
  // top: 100vh;
  // transform: translateY(-100%);
}
.showcase-mask-bot-scroll {
  position: fixed;
  transform: translateY(-100%);
  top: 100vh;
}
.showcase-mask-bot-end {
  position: absolute;
  bottom: -2px;
}


#showcase-mask-bot {
  display: flex;
  svg {
    width: 100vw;
    height: 19vh;
    transform: rotate(180deg);
    display: block;
  }
  z-index: 2;
}


.slide {
  .grid {
    display: block;
    transform: translateX(3vw);
    }
  .right {

  }
}
#case-title {
  color: black;
    font-family: "Spartan";
    padding: 15px; 
}

.card {
  box-shadow: -1px 2px 10px -3px rgba(0,0,0,0.75);
  width: 255px;
  background: white;
  margin: 2em .5em 2em .5em;
  transition: all .4s;
  img {
    width:100%;
    height: auto;
  }
  p {
    padding-top: 20px;
    color: $servicesLinkGrey;
  }
  h1 { 
    color: $warmCoral;
    padding-bottom: 40px;
    font-size: 1.5em;
    }
  p,h1 {
    margin-left:20px;
    padding-right: 15px;
  }

}

.card:hover {
      box-shadow: -1px 12px 25px -2px rgba(100, 100, 100, 1);
}



video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
video[poster] {
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 1150px) {
  #showcase-mask-top {
    svg {
      height: 18vh;
    }
  }
  #showcase-mask-bot {
    svg {
      height: 12vh;
    }
  }
  .showcase-wrapper {
    .slides {
      transform: translate(0, 6.5%); 
    }
  }
  .card {
    width: 200px;
  }
}



@media screen and (max-width: 900px) {
  #showcase-mask-top, #showcase-mask-bot {
    svg {
      height: 12vh;
    }
  }
  
  #slide1 .col {
    display: block;
  }
  .card {
    width: 250px;
    margin: 1em auto;
  }
  .slide .right {
    transform: translateY(0);
  }
  .showcase-wrapper {
    .slides {
      transform: translate(0, 3.5%); 
    }
  }
}
