@import '../base/_colors';


.headline {
  padding-top: 8em;
  color: white;
  text-align: center;
  h1 {
    margin-bottom: -20px;
    font-size: 48px;
  }
}

#sq-red-svg {
  width: 100vw;
  min-width: 1340px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.video-library {
  margin: 4em auto;
  text-align: center;
  .col {
    position: relative;
    display: inline-table;
    margin: 2em 1em;
    .poster-img {
      width: 300px;
      height: 169px;
      box-shadow: 0px 0px 42px 3px rgba(0,0,0,0.26);
      
      img {
        width: 100%;
      }
    }
    .subhead {
      padding-top: 8px;
      text-align: left;
      font-family: 'Spartan', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;

      a {
        display: block;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.5;
        color: $mango;
        cursor: pointer;
      }
      a:hover {
        color: $linkBlue;
      }
    }
  
  }
}

.medium-wrapper {
  text-align: left;
  width: 50%;
  padding-bottom: 4em;
  margin: 2em auto;
  h1 {font-size:48px;}
  a {
    color: $mango;
    margin: 2em auto 1.5em 0;
    font-size: 24px;
    display: block;
    font-family: 'Lato', sans-serif;
  }
  a:hover {
    color: $linkBlue;
  }
}