@import '../base/_colors';
@import 'partials/home-logos.scss';
@import 'partials/showcase.scss';


$SVGHeightWidthRatio: .90;
$transitionTimeFade: opacity .7s;

.svg-wrapper { 
  svg {
    position: absolute;
    z-index: -1;
  } 
  .mobile-svg {
    display: none;
  }
}

.logo-wrapper {
  width: 100vw;
  height: 55vh;   
}

.img-fadein {
  opacity: 1 !important;
}

@media screen and (max-width: 700px) {
  .logo-wrapper {
    padding-top: 0;
    height: 40vh;
    display: flex;
    justify-content: center;
  }
  
  .svg-wrapper {  
    .desktop-svg  {
      visibility: 0;
      display: none;
      width: 0;
      height: 0;
    }
    
    .mobile-svg {
      display: block;
    }
  }
  h1 {
    font-size: 1.65em;
  }

}


@media screen and (min-width: 900px) {
  .logo-wrapper {
    h1 {font-size: 2.25em;}
  }
  
}

@media screen and (min-width: 1300px) {
  .logo-wrapper {
    height: 60vh;
    .header-logo-wrapper {
        h1 { bottom: 2vw}
      }
  }
}

@media screen and (min-width: 701px) and (max-width: 1024px) and (min-height: 900px) {
  .logo-wrapper {
    height: 35vh;
  }
}

