@import '../base/_colors';

$SVGHeightWidthRatio: .90;
$transitionTimeFade: opacity .7s;

.svg-wrapper { 
  svg {
    position: absolute;
    z-index: -1;
  } 
  .mobile-svg {
    display: none;
  }
}
.grid {
  background-size: cover;
  background-repeat: no-repeat;
  .img-col {
    img {
      box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.16);
    }
  }
  .col {
    width: 50%;
    position: relative;
    
  }
}




.logo-wrapper {
  width: 100vw;
  height: 50vh;
  padding-top: 5em; 
  }

.img-fadein {
  opacity: 1 !important;
}

.subtle-move {
  position: absolute;
}

.img-lazy-wrapper {
  position: relative;
}

.img-placeholder {
  width: 100%;
  position: absolute;
  height: 42vw;
  z-index: 0;
  box-shadow: 0px 0px 42px 3px rgba(0,0,0,0.26);
  background: linear-gradient(135deg, rgba(139,246,254,1) 0%, rgba(147,82,252,1) 100%);
}  



// First block ENTERPRISE
#showcase1 {
  width: 100vw;
  position: relative;
  .grid {
    background-image: url("../../../images/curve-red-desktop.svg");
  }
  h1 {
    color: white;
  }

  #brookside-img {
    width: 30%;
    z-index: 2;
    height: 42.8vw;
    top: 28%;
    left: 63%;
    // img { transition-delay: 1s;}
    .img-placeholder { height: 26vw;}
  }
  #cups-img {
    width: 88%;
    top: 65%;
    z-index: 1;
    left: 10%;
    // img { transition-delay: 1.3s;}
    .img-placeholder { height: 31vw;}
    
  }
  #ML-img {
    width: 45%;
    top: 15%;
    .img-placeholder { height: 34vw;}
  }
  .grid {
    height: 100vw * $SVGHeightWidthRatio;
    .col {
      img {
        opacity: 0;
        transition: $transitionTimeFade;
        width: 100%;
        // top: 100px;
        position: absolute;
      }
      .showcase-text {
        transform: translateY(8vw);
        color: white;
        padding: 0 10% 0 5%; 
      }
    } 
  }
}

// Second Block Venture
#showcase2 {
  height: 75vw;

  #tilr-mobile-img {
    width: 39%;
    top: 0;
    right: 8%;
    z-index: 1;
    img { transition-delay: 1.5s;}
    .img-placeholder { height: 34vw;}
  }
  #tilr-img {
    width: 90%;
    top: 60%;
    right: 3%;
    img { transition-delay: 1s;}
    .img-placeholder { height: 27vw;}
  }
  #throttle-img {
    width: 30%;
    top: 40%;
    left: -1%;
    img { transition-delay: 1s;}
    .img-placeholder { height: 25vw;}
  }
  
  #neighborly-img {
    width: 61%;
    right: 0;
    top: 81%;
    z-index: 1;
    img { transition-delay: 1s;}
    .img-placeholder { height: 19vw;}
    
  }
  #pc-img {
    width: 67%;
    bottom: -20%;
    right: 25%;
    img { transition-delay: 1s;}
    .img-placeholder { height: 21vw;}
    
  }
  #hiphire-img {
    width: 35%;
    top: 104%;
    right: 0;
    img { transition-delay: 1.2s;}
    .img-placeholder { height: 29vw;}
  }
  
  .showcase-text {
    padding: 0 5% 0 10%; 
  }
  img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: $transitionTimeFade;
    
  }
  h1 {
    color: black;
  }
  
}
// Third Block Internal
#showcase3 {
  position: relative;
  #score-img {
    top: 22%;
    width: 93%;
    left: 3%;
    img { transition-delay: 1s;}
    .img-placeholder { height: 28vw;}
  }
  #str-plain-img {
    width: 37%;
    bottom: 5%;
    right: 36%;
    img { transition-delay: 1.4s;}
    .img-placeholder { height: 32vw;}
    
  }
  #str-img {
    width: 39%;
    right: 0%;
    bottom: 15%;
    img { transition-delay: 1.8s;}
    .img-placeholder { height: 34vw;}
    
  }
  #plaster-img {
    width: 75%;
    bottom: 25%;
    left: 5%;
    img { transition-delay: 2.1s;}
    .img-placeholder { height: 31vw;}
    
    }
  .grid {
    height: 100vw * $SVGHeightWidthRatio;
    background-image: url("../../../images/curve-blue-desktop.svg"); 
  }

  .col {
    width: 50%;
    position: relative;
  }
  .showcase-text {
    padding: 0 10% 0 5%; 
    color: white;
  }
  h1 {
    color: white;
  }
  img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: $transitionTimeFade;
  }
}


ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
// Logos home page
.landing-logos {
  text-align: center;
  background: white;
  max-width: 90vw;
  overflow: hidden;
  margin: 1em auto;

}
.landing-logos ul {
  margin: 3em auto;
  text-align: center;
  display: inline-block;
  max-width: 100vw;
  padding: 0;
}
.landing-logos ul li {
  display: inline-block;
  padding: 1em;
}
.landing-logos img {
  max-width: 135px;
  max-height: 65px;
  height: auto;
}
.landing-logos .logo {
  width: 135px;
  height: 65px;
  /*background-color: teal;*/
  margin: 1em;
  vertical-align: middle;
}
.landing-logos .logos {
  /*animation-name will be inserted here by landingPage.js*/
  animation-duration: 35s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

.landing-logos ul:hover {
  animation-play-state: paused;
}

@keyframes move {
  0%   { margin-left: 0; }
  50%  { margin-left: -275%; }
  100% { margin-left: 0; }
}

/*sliding usecase divs under earch other*/
@media screen and (max-width: 500px) {
  .landing-logos .logo {
    width: 90px;
    margin-left: .11em;
    margin-right: .11em;
    img  {
      width: 100%;
      height: auto;
    }
    vertical-align: middle;
  }
}




@media screen and (max-width: 700px) {
  .logo-wrapper {
    padding-top: 0;
    height: 40vh;
  }
  
  .svg-wrapper {  
    .desktop-svg  {
      visibility: 0;
      display: none;
      width: 0;
      height: 0;
    }
    
    .mobile-svg {
      display: block;
    }
  }
  h1 {
    font-size: 1.65em;
  }
  #showcase1 {
    .grid {
      background: url("../../../images/curve-red-mobile.svg") no-repeat;
      background-size: cover;
      min-height: 900px;
      .col {
       width: 100%;
    }
    }
    .img-col {
      height: 55vh;
      min-height: 300px;
    }
    #brookside-img {
      width: 25%;
      top: 10%;
    
    }
    #cups-img {
      top: 30%;
      width: 85%;
    }
    #ML-img {
      width: 40%;
      top: 5%;
    } 
  }

  #showcase2 {
    height:200vw;
    .grid {
      direction: inherit;
      .img-col {
        min-height: 300px;
        height: 55vh;
      }
      .col {
        
        width: 100%;
      }
      #tilr-mobile-img {
        width: 24%;
        top: -3%;
        left: 5%;
      }
      #tilr-img {
        width: 70%;
        top: 10%;
        right: 10%; 
      }
      #throttle-img {
        width: 20%;
        top: 50%;
        left: 6%; 
      }
      #neighborly-img {
        width: 51%;
        right: 20%;
        top: 51%;
        z-index: 0;
        img { transition-delay: 1s;}
        .img-placeholder { height: 19vw;}
      }
      #pc-img {
        width: 47%;
        top: 40%;
        right: 0%;
      }
      #hiphire-img {
        width: 25%;
        top:-7%;
        right: 5%; 
      } 
    }
  }

  #showcase3 {
    
    .grid {
      height: 130vh;
      background: url("../../../images/curve-blue-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
      .img-col {
        height: 55vh;
        
        min-height: 300px; 
      }
      .col {
        width: 100%;    
      }
    }

    #score-img {
      top: 30%;
      width: 55%;
      left: 0;
      .img-placeholder { height: 31vw;}
    }
    #str-plain-img {
      width: 20%;
      top: 22%;
      right: 20%;
    }
    #str-img {
      width: 21%;
      top: 15%;
      right: 4%;
      img { transition-delay: 1.8s;}
      .img-placeholder { height: 34vw;}
      
    }
    #plaster-img {
      width: 45%;
      top: 43%;
      left: 23%;
      img { transition-delay: 2.1s;}
      .img-placeholder { height: 31vw;}
      
      }

  }

}