$mango: #fcad2b;

.logo-wrapper {
  width: 100vw;
  height: 50vh; }


.mango-btn {
  width: 253px;
	height: 48px;
  font-family: 'Lato';
	font-size: 14px;
	font-weight: 900;
	line-height: 1.4;
  color: white;
  border: none;
  border-radius: 5px;
	background-color: $mango;
}



#showcase1 {
  height: 100vh;
  width: 100vw;
  position: relative;
 
  h1 {
    color: white;
  }
  
  .cover-video {
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
  }


  svg {
    z-index: -1;
  }

  #brookside-img {
   width: 57%;
    top: 30%;
    left: 50%;
    z-index: 2
  }

  #cups-img {
    width: 100%;
    top: 85%;
    z-index: 1;
  }


  #ML-img {
    width: 50%
  }


  .grid {
    top: 114px;
    position: absolute;
    .col {
      width: 50%;
      position: relative;
      img {
        width: 100%;
        top: 100px;
        position: absolute;
      }
      .showcase-text {
        padding: 20px;
        transform: translateY(8vw);
        color: white;
      }
    } 
  }
}


#showcase2 {
  margin: 10vw 0;
  height: 100vh;

  #tilr-mobile-img {
    width: 49%;
    top: 0;
    right: 0%;
    z-index: 1;
  }
  #tilr-img {
    width: 100%;
    top: 65%;
  }
  #throttle-img {
    width: 50%;
  }
  #neighborly-img {
    width: 70%;
    right: 0;
    top: 80%;
  }
  #pc-img {
    width: 70%;
    bottom: -75%;
    right: 25%;
  }
  #hiphire-img {
    width: 50%;
    top: 100%;
    right: 0;
  }

  .col {
    width: 50%;
    position: relative;
  }
  img {
    width: 100%;
    position: absolute;
    
  }
  h1 {
    color: black;
  }
  .showcase-text {
    padding: 25px;
  }
}

#showcase3 {
  position: relative;
  #internal-gradient{
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  h1 {
    color: white;
  }
  .grid {
    top: 154px;
    position: absolute;
  }
  col {
    width: 50%;
  }
  img {
    width: 100%;
  }
}

